@import './variables';
@import './info';
@import './visual';

body {
  background: cyan;
}

.container {
  background-repeat: no-repeat;
  background-size: contain;
  font-family: 'Montserrat', sans-serif;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 40px 40px 40px 40px;
  color: $primary;
}
