@import './variables';
@import './info';

body {
  background: cyan;
}

.weather-box__icon {
  width: 40px;
  height: 40px;
}

.day__icon {
  width: 20px;
  height: 20px;
}

#map {
  width: 200px;
  height: 200px;
}

.container {
  background-repeat: no-repeat;
  background-size: contain;
  font-family: 'Montserrat', sans-serif;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 40px 40px 40px 40px;
  color: $primary;
}
