.tool-bar {
  display: flex;
  justify-content: space-between;
  width: 100px;

  .refresh {
    width: 25px;
    height: 25px;
    padding: 3px;
    border: 0.5px solid $primary;
    background: $blackTrans url('../../static/images/refresh-icon.png') center
      no-repeat;
    background-size: contain;
    background-origin: content-box;
    border-radius: 3px;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }
  }

  .temp-units {
    &__unit {
      height: 25px;
      width: 25px;
      border: 0.5px solid $primary;
      color: $primary;
      background: $blackTrans;
      border-radius: 3px;
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
      }
    }

    .active {
      background: salmon;
    }
  }
}
