$primary: #ffffff;
$secondary: #000000;
$blackTrans: rgba(0, 0, 0, 0.3);

@mixin fitPadWithTrans {
  width: fit-content;
  padding: 10px;
  background: $blackTrans;
}

@mixin styledButtons {
  height: 25px;
  width: 25px;
  border: 0.5px solid $primary;
  color: $primary;
  background: $blackTrans;
  border-radius: 3px;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }
}
