.visual {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  #map {
    width: 200px;
    height: 200px;
    border-radius: 5px;
  }

  .coords {
    @include fitPadWithTrans;

    &__lat {
      padding-bottom: 5px;
    }
  }
}
